* {
  font-family: Arial, Helvetica, sans-serif;
  color: #545454;
}

body,
html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper.indexPage {
  justify-content: center;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainSection .searchContainer {
  margin-top: 20px;
  width: 100%;
}

.mainSection .searchContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer .searchButton {
  color: #757575;
  background: #f5f5f5;
  border: none;
  height: 36px;
  width: 125px;
  border-radius: 1px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}

.mainSection .searchContainer .searchBox {
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  border-radius: 2px;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  width: 70%;
  max-width: 630px;
  color: #000;
}

.mainSection .logoContainer {
  width: 220px;
  text-align: center;
}

.logoContainer img {
  width: 100%;
}

header {
  background-color: #fafafa;
  border-bottom: 1px soild #ebebeb;
}

.headerContent .logoContainer {
  width: 150px;
  padding: 5px 20px;
  box-sizing: border-box;
}

.wrapper .headerContent {
  display: flex;
  align-items: center;
}

.headerContent .searchContainer {
  flex: 1;
}

.headerContent .searchContainer form {
  margin: 15px 0 28px 0;
}

.headerContent .searchBarContainer {
  height: 44px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 70%;
  max-width: 630px;
  box-sizing: border-box;
  display: flex;
}

.headerContent .searchBarContainer .searchBox {
  flex: 1;
  border: none;
  background-color: transparent;
  padding: 12px;
  font-size: 16px;
  color: #000;
}

.headerContent .searchBarContainer .searchButton {
  background-color: #fff;
  height: 44px;
  width: 44px;
  margin: 0;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.headerContent .searchBarContainer .searchButton img {
  width: 22px;
}

.tabsContainer {
  margin-left: 150px;
}

.tabsContainer .tabList {
  padding: 0;
  margin: 0;
}

.tabsContainer .tabList li {
  display: inline-block;
  padding: 0 16px 12px 16px;
  color: #777;
  font-size: 13px;
}

.tabsContainer .tabList li a {
  text-decoration: none;
}

.tabsContainer .tabList li.active {
  border-bottom: 2px solid #1a73e8;
}

.tabsContainer .tabList li.active a {
  color: #1a73e8;
  font-weight: bold;
}

.mainResults {
  flex: 1;
}

.mainResults .resultsCount {
  font-size: 13px;
  color: #808080;
  margin-left: 150px;
}

.mainResults .siteResults {
  margin-left: 150px;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.resultContainer .title {
  margin: 0;
}

.resultContainer .title a {
  text-decoration: none;
  color: #1a0dab;
  font-weight: normal;
  font-size: 18px;
}

.resultContainer .title a:hover {
  text-decoration: underline;
}

.resultContainer .url {
  color: #006621;
  font-size: 14px;
}

.resultContainer .description {
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.pageButtons {
  display: flex;
}

.pageNumberContainer img {
  height: 37px;
}

.pageNumberContainer,
.pageNumberContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.pageNumber {
  color: #000;
  font-size: 13px;
}

a .pageNumber {
  color: #4285f4;
}

.mainResults .imageResults {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  grid-gap: 1em;
  grid-row-gap: 2em;
}

.gridItem {
  position: relative;
  display: grid;

  opacity: 0;
  transition: 1s;
}

.gridItem img {
  max-width: 200px;
  min-width: 100px;
  height: 250px;
  object-fit: scale-down;
}

.gridItem a {
  justify-self: center;
  align-self: center;
}

.gridItem .urlDetails {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  padding: 3px;
  box-sizing: border-box;
  white-space: nowrap;
  visibility: hidden;
  transition: 0.4s;
}

.gridItem:hover .urlDetails {
  visibility: visible;
}

.gridItem .details {
  align-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gridItem.active {
  opacity: 1;
}

.scoop {
  transform: scaleX(-1);
  padding-top: 75px;
  animation: scoop;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes scoop {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: rotate(90deg);
    opacity: 0;
  }
  50% {
    transform: rotate(140deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.iceCream {
  padding-left: 25px;
}

.notFound {
  text-align: center;
  margin-right: 150px;
}

h3 {
  margin-left: 150px;
}
